<!DOCTYPE html>
<html lang="en">
  <head>
<meta name=#build content=105>
    <meta data-n-head="true" charset="UTF-8">
    <meta data-n-head="true" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta data-n-head="true" name="renderer" content="webkit">
    <meta data-n-head="true" http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/favicon.png">
    <link href="https://db.onlinewebfonts.com/c/2e8b8a5bb209daf0c8dd2f3a94c2b4e8?family=PingFang+SC+Regular" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Pocket Games Soft | Difference Makes The Difference</title>
    <script type="module" crossorigin src="/assets/index-B-j6yUao.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index--20hwxqK.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
