<!DOCTYPE html>
<html>

<head>
  <meta name=#build content=1466>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Bet Details</title>
  <link rel="shortcut icon" href="./favicon.ico">
  <link href="./static/css/1682240.46dc819dbf3886b80fd2eeed6e14fa20.css?184eedb8f6d9f41463a2" rel="stylesheet">
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script type="text/javascript" src="./static/js/manifest.3fe7484f50b09efac1ff.js?184eedb8f6d9f41463a2"></script>
  <script type="text/javascript" src="./static/js/vendor.6466c5f2bf3cca092ebe.js?184eedb8f6d9f41463a2"></script>
  <script type="text/javascript" src="./static/js/1682240.e82119053bca4efe8254.js?184eedb8f6d9f41463a2"></script>
</body>

</html>